.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 40px;
}

.page-button {
  min-width: 38px !important;
  width: 38px !important;
  height: 38px !important;

  border-radius: 50% !important;

  font-size: 15px !important;
  font-weight: 500 !important;

  color: #111827 !important;
}



.page-button.active {
  background: #2563eb !important;
  color: white !important;
}

.arrow-button {
  min-width: 36px !important;
  width: 36px !important;
  height: 36px !important;

  border-radius: 50% !important;

  color: #111827 !important;

  font-size: 18px !important;
  font-weight: 600 !important;

  border: none !important;

  background: transparent !important;
}

.arrow-button:hover {
  background: #f3f4f6 !important;
}
