.product-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start !important;

  margin-bottom: 30px;
}

.toolbar-title {
  font-size: 34px !important;
  font-weight: 700 !important;
  margin-left: 10px !important;
  color: #111827;
}

.toolbar-right {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 50px;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 8px;
    padding: 7px;
    border-radius: 5px;
  cursor: pointer;
}

.filter-section:hover,.sort-section:hover {
  background: #f3f4f6;
}

.filter-text {
  font-size: 15px !important;
  font-weight: 600 !important;

  color: #111827;
}

.filter-icon {
  font-size: 20px !important;

  color: #111827;
}

.sort-section {
  display: flex;
  align-items: center;
  gap: 4px;
    padding: 8px;
  cursor: pointer;
}

.sort-label {
  font-size: 15px !important;
  font-weight: 600 !important;

  color: #111827;
}

.sort-value {
  font-size: 15px !important;

  color: #6b7280;
}

.sort-icon {
  font-size: 22px !important;
  color: #111827;
}


@media (max-width: 600px) {

  .product-toolbar {
    // flex-direction: column;
    display: flex;
    justify-content: space-between !important;
    align-items: flex-start;
    gap: 16px;
  }

 .toolbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

  .toolbar-title {
    font-size: 16px !important;
  }

  .filter-text,
  .sort-label,
  .sort-value {
    font-size: 10px !important;
  }

  .filter-icon,
  .sort-icon {
    font-size: 18px !important;
  }

  .filter-section,
  .sort-section {
    padding: 6px;
  }
}

